<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Charts</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-info static-top">

      <a class="navbar-brand mr-1" href="index.html">Start Bootstrap</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="QRcode_info.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>QRcode Info</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="QRcode_generator.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>QRcode Image</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="admin_signup.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add Admin</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="time_table.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Create Time Table</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="lecturer_details.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add lecturer</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="lecturer_halls.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add Halls</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="programs.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add Programs/Courses</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="staff_signup.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Signup Staff</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="all_time_tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>View Time table</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item float-right">
              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#logoutModal">Add Admin</a>
            </li>
          </ol>

          <!-- Area Chart Example-->

        </div>
        <!-- /.container-fluid -->
        <div class="container">


          <div class="card mt-3">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Admin Name</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(admin,key) of admins" :key="key">
                    <th scope="row">{{key + 1}}</th>
                    <td>{{admin.admin_name}}</td>
                    <td>{{admin.email}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer mt-5">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2019</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Admin Signup</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" v-model="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <span class="error1 text-danger">{{error1}}</span>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword2">First name</label>
                <input type="text" v-model="first_name" class="form-control" id="exampleInputPassword2" placeholder="Admin first name">
                <span class="error2 text-danger">{{error2}}</span>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword2">Last name</label>
                <input type="text" v-model="last_name" class="form-control" id="exampleInputPassword3" placeholder="Admin last name">
                <span class="error3 text-danger">{{error3}}</span>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword2">Other names</label>
                <input type="text" v-model="others" class="form-control" id="exampleInputPassword4" placeholder="other names">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" v-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <span class="error4 text-danger">{{error4}}</span>
              </div>
              <div class="text-center" v-show="show_loading">
                <div class="spinner-grow bg-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="text-center" v-show="response">
                <span class="text-success">{{message}}</span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" @click.prevent="create_admin">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/vue.js"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Custom scripts for all pages -->
  <script src="js/sb-admin.min.js"></script>

   <!-- Demo scripts for this page -->
  <!-- <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-bar-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script> -->
  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        show_loading: false,
        error1: "",
        error2: "",
        error3: "",
        error4: "",
        first_name: "",
        last_name: "",
        email: "",
        others: "",
        password: "",
        response: false,
        message: "",
        admins: []
      },
      methods: {
        create_admin(){
          if(!(vm.first_name)) vm.error2 = "first name is required";
          else vm.error2 = "";
          if(!(vm.last_name)) vm.error3 = "last name is required";
          else vm.error3 = "";
          if(!(vm.email)) vm.error1 = "email is required";
          else vm.error1 = "";
          if(!(vm.password)) vm.error4 = "password is required"
          else vm.error4 = "";

          if(vm.first_name.length !== 0 && vm.last_name.length !== 0 && vm.email.length !== 0 && vm.password.length !== 0){
            vm.show_loading = true;
            setTimeout(function(){
              vm.response = false;
              vm.admin_signup_req(vm.first_name,vm.last_name,vm.others,vm.email,vm.password)
            },3000)
          }
        },
        async admin_signup_req(first_name,last_name,others,email,password){
          let admin_name = first_name + " " + last_name + " " + others;
          let data = {
            admin_name: admin_name,
            email: email,
            password: password
          }
          try{
            let signup_res = await $.ajax({
            url: "http://localhost:3000/admin/admin_signup",
            method: "POST",
            dataType: "JSON",
            data: data
          })

          if(signup_res.res === "created"){
            vm.show_loading = false;
            vm.response = true;
            vm.message = signup_res.message

            vm.first_name = "";
            vm.last_name = ""
            vm.others = ""
            vm.password = ""
            vm.email = ""

            window.location.reload()
          }
          }catch (error){
            console.log(error)
            if(error.status === 409){
            vm.show_loading = false;
            vm.response = true;
            vm.message = error.responseJSON.message;
          }
          }
        }
      },
      computed: {

      },
      async created() {
            try {
                  let admins = await $.ajax({
                  url: "http://localhost:3000/admin/all",
                  method: "GET",
                  dataType: "JSON",
                })

                if(admins.res === "found"){
                  let data = admins.data
                  vm.admins = [...data]
                  console.log(vm.admins)
                }
                if(admins.res === "not found"){

                }
            } catch (error) {
              console.log(error)
            }

      },
      mounted() {

      },
      beforeCreated(){
        if(!localStorage.getItem("admin_token")){
          window.location = "../index.html"
        }
      }
    }).$mount("#app")
  </script>
</body>

</html>
