<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Charts</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-info static-top">

      <a class="navbar-brand mr-1" href="index.html">Exam Center</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="QRcode_info.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>QRcode Info</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="QRcode_generator.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>QRcode Image</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="time_table.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Time Table</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="admin_signup.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add Admin</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="time_table.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Create Time Table</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="lecturer_details.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add lecturer</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="lecturer_halls.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add Halls</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="programs.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add Programs/Courses</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="staff_signup.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Signup Staff</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Time Table</li>
          </ol>

          <!-- Area Chart Example-->

        </div>
        <!-- /.container-fluid -->

        <div class="container">
          <div class="alert text-center" :class="server_res === 'created'? 'alert-success' : 'alert-danger'" role="alert"
            v-show="message">
            {{response}}
          </div>
          <div class="row">
            <div class="col">
              <form action="" id="regtable">
                <div class="form-row align-items-center">
                  <div class="col-md my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" @change="select_program()"
                      v-model="selected_value">
                      <option value="" disabled selected>Select Program</option>
                      <option v-for="(program,key) of programs" :key="key"
                        :value="{level: program.level, program_name: program.program_name, key: key, number_of_student: program.number_of_student}">
                        {{program.program_name}} <span>
                          {{program.level}}</span></option>
                    </select>
                    <span class="text-danger">{{error1}}</span>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="col-md my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" @change="selected_course()" v-model="select_course">
                      <option value="" disabled selected>Select Course</option>
                      <option v-for="(course,key) of courses" :key="key" :value="{course_code: course.course_code, examinar: course.examinar,course_name: course.course_name}">{{course.course_code}}</option>
                    </select>
                    <span class="text-danger">{{error2}}</span>
                  </div>
                </div>

                <div class="form-row align-items-center">
                  <div class="col-md my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" v-model="select_section">
                      <option value="" disabled selected>Select Time Session</option>
                      <option>Morning</option>
                      <option>Afternoon</option>
                    </select>
                    <span class="text-danger">{{error3}}</span>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="col-md my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" v-model="select_day">
                      <option value="" disabled selected>Select Day</option>
                      <option value="monday">monday</option>
                      <option value="tuesday">tuesday</option>
                      <option value="wednesday">wednesday</option>
                      <option value="thursday">thursday</option>
                      <option value="friday">friday</option>
                    </select>
                    <span class="text-danger">{{error4}}</span>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="col-md my-1">
                    <input class="form-control" type="date" v-model="select_date">
                    <span class="text-danger">{{error5}}</span>
                  </div>
                </div>

                <div class="form-row align-items-center">
                  <div class="col-md my-1">
                    <input type="hidden" name="count" value="1" />
                    <div class="control-group" id="fields">
                      <div class="controls" id="profs">
                        <div id="field" class="form-inline">
                          <select class="custom-select mb-3 mr-2" style="width: 87%;" id="field1" @change="halls"
                            v-model="select_halls">
                            <option value="" disabled selected>Select Exam Hall</option>
                            <option v-for="(hall,key) of lecturer_halls"
                              :value="{capacity: hall.capacity, hall_name: hall.hall_name}">{{hall.hall_name}}
                            </option>
                          </select>
                          <button id="b1" class="btn btn-secondary mb-3 mr-2  add-more"
                            @click.prevent="AddHall">+</button>
                          <span class="text-danger">{{error6}}</span>
                        </div>
                        <br>
                      </div>
                    </div>

                    <div class="btn-group" role="group" aria-label="Basic example">

                      <button type="button" style="font-size: 0.6rem;" class="btn withTooltip btn-dark btn-group-sm"
                        v-for="(hall,key) of selected_halls" :key="key" data-toggle="tooltip" rel="tooltip"
                        data-html="true" data-original-title="<li>Course: </li><li>Examinar</li>">{{hall.hall_name}}
                        <a href="#" class="btn btn-danger" style="font-size: 0.6rem;" :id="key"
                          @click.prevent="remove">X</a>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-row justify-content-center">
                  <div class="col-md-8 my-1 ">
                    <input class="form-control btn-secondary" type="submit" @click.prevent="AddTimeTable"
                      value="Add to Table">
                  </div>
                </div>
                <div class="text-center" v-show="show_loading">
                  <div class="spinner-grow bg-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </form>
            </div>

            <div class="col shadow-lg p-3 mb-5 bg-white">
              <small class="text-muted">
                This payne is a preview of the Table You just Added...
              </small>
              <hr>
            </div>
          </div>
        </div>

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2019</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-bar-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>
  <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
  <script src="../js/vue.js"></script>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        courses: [],
        select_course: "",
        lecturer_halls: [],
        select_halls: "",
        programs: [],
        selected_halls: [],
        select_section: "",
        select_date: "",
        select_day: "",
        error1: "",
        error2: "",
        error3: "",
        error4: "",
        error5: "",
        error6: "",
        show_loading: false,
        server_res: "",
        response: "",
        message: false,
        selected_value: "",
        selected_level: "",
        number_of_student: "",
        selected_program: "",
        course_code: null,
        examinar: null,
        selected_course_name: null
      },
      methods: {
        AddHall() {
          if (vm.selected_halls.length === 0) {
            vm.selected_halls.push(vm.select_halls)
          } else if (vm.selected_halls.length !== 0) {
            let hall_count = 0
            for (hall of vm.selected_halls) {
              hall_count += hall.capacity
              console.log(vm.number_of_student)
              if (hall_count >= vm.number_of_student) {
                return null
              } else if (hall_count < vm.number_of_student) {
                console.log(hall_count - vm.number_of_student)
                vm.selected_halls.push(vm.select_halls)
              }
            }
          }
        },
        select_program() {
          vm.courses = vm.programs[vm.selected_value.key].courses_offered
          let {program_name,level} = vm.selected_value
          vm.selected_program = program_name
          vm.selected_level = level
          vm.number_of_student = vm.selected_value.number_of_student
        },
        selected_course(){
          console.log(vm.select_course)
          vm.course_code = vm.select_course.course_code
          vm.examiner = vm.select_course.examinar
          vm.selected_course_name = vm.select_course.course_name
        },
        halls() {

        },
        remove(e) {
          let index = e.currentTarget.id
          vm.selected_halls.splice(index, 1)
        },
        async AddTimeTable() {
          vm.message = false
          vm.show_loading = false
          if (!vm.selected_program) vm.error1 = "Select a program";
          else vm.error1 = ""
          if (!vm.select_course) vm.error2 = "Select a Course";
          else vm.error2 = ""
          if (!vm.select_section) vm.error3 = "Select Time session";
          else vm.error3 = ""
          if (!vm.select_day) vm.error4 = "Select day"
          else vm.error4 = ""
          if (!vm.select_date) vm.error5 = "Select date"
          else vm.error5 = ""
          if (vm.selected_halls.length < 1) vm.error6 = "Select Hall(s)"
          else vm.error6 = ""

          if (
            vm.selected_program.length != 0 &&
            vm.select_course.length != 0 &&
            vm.select_day.length != 0 &&
            vm.select_date.length != 0 &
            vm.select_section.length != 0 &&
            vm.selected_halls.length != 0
          ) {
            vm.show_loading = true
            let added_hall
            setTimeout(async function () {
              let hall_count = 0
              let hall_space;
              vm.selected_halls.forEach(function(hall){
                hall_count += hall.capacity
                console.log(vm.number_of_student)
                if (hall_count >= vm.number_of_student) {
                  hall_space = hall_count - vm.number_of_student
                } else if (hall_count < vm.number_of_student) {
                  hall_space = hall_count - vm.number_of_student
                }
                added_hall = vm.selected_halls
                return {added_hall, hall_space}
              })
              let new_hall = []
              added_hall.forEach(function(hall){
                new_hall.push(hall.hall_name)
              })

              console.log(new_hall)
              if (hall_space >= 0) {
                try {
                  console.log(vm.examiner,vm.number_of_student,)
                  let time_table_res = await $.ajax({
                    url: "/student/time_table",
                    method: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify(
                      {
                        exam_day: vm.select_day,
                        exam_date: vm.select_date,
                        exam_time: vm.select_section,
                        program_name: vm.selected_program,
                        course_name: vm.selected_course_name,
                        hall: [...new_hall],
                        number_of_students: vm.number_of_student,
                        course_code: vm.course_code,
                        examiner: vm.examiner,
                        level: vm.selected_level
                      }
                    )
                  })

                  let {res,msg} = time_table_res
                  if(res === "created"){
                    vm.server_res = "created"
                    vm.response = msg
                    vm.message = true
                    vm.show_loading = false
                  }
                } catch (error) {
                  console.log(error)
                  let {status,responseJSON} = error
                  if(responseJSON.res === "hall(s) unavailable"){
                    vm.response = responseJSON.res + responseJSON.data
                    vm.server_res = ""
                    vm.message = true
                    vm.show_loading = false
                  }
                  if(responseJSON.res === "time slot unavailable"){
                    vm.response = responseJSON.res + responseJSON.data
                    vm.server_res = ""
                    vm.message = true
                    vm.show_loading = false
                  }
                  if(responseJSON.res === "hall and time slot unavailable"){
                    vm.response = responseJSON.res + responseJSON.data
                    vm.server_res = ""
                    vm.message = true
                    vm.show_loading = false
                  }
                  if(responseJSON.res === "Course already added"){
                    vm.response = responseJSON.res
                    vm.server_res = ""
                    vm.message = true
                    vm.show_loading = false
                  }
                  if(status === 422 && responseJSON.res === "No flexibility"){
                    let IsBool = confirm(responseJSON.msg)
                    if(IsBool){
                      try{
                        let time_table_res = await $.ajax({
                          url: "/student/time_table",
                          method: "POST",
                          contentType: 'application/json',
                          data: JSON.stringify(
                            {
                              exam_day: vm.select_day,
                              exam_date: vm.select_date,
                              exam_time: vm.select_section,
                              program_name: vm.selected_program,
                              course_name: vm.selected_course_name,
                              hall: [...new_hall],
                              number_of_students: vm.number_of_student,
                              course_code: vm.course_code,
                              examiner: vm.examiner,
                              level: vm.selected_level,
                              flexibility: IsBool
                            }
                          )
                        })
                        let {res,msg} = time_table_res

                        if(res === "created"){
                          vm.response = msg
                          vm.server_res = "created"
                          vm.message = true
                          vm.show_loading = false
                        }
                      } catch(error) {
                        let {status,responseJSON} = error
                        if(status === 422){
                          vm.response = responseJSON.res
                          vm.server_res = ""
                          vm.message = true
                          vm.show_loading = false
                        }
                      };
                    }
                    else{
                      return null
                    }
                  }
                }
              } else {
                vm.response = "Insufficient Hall space, add more halls"
                vm.message = true
                vm.show_loading = false
              }
            }, 1000)

          }
        }
      },
      computed: {

      },
      async created() {
        try {
          let courses = await $.ajax({
            url: "/program/all_programs",
            method: "GET"
          })


          if (courses.res === "found") {
            vm.programs = [...(courses.data)]
            // for (course of courses.data) {
            //   for (val of course.courses_offered) {
            //     vm.programs_and_courses.push(val)
            //   }
            // }
          }
          // else {
          //   vm.programs_and_courses.push(courses.data)
          // }
        } catch (error) {
          console.log(error)
        }

        try {
          let halls = await $.ajax({
            url: "/lecturer_hall/all",
            method: "GET"
          })

          if (halls.res === "found") {
            this.lecturer_halls = [...halls.data]
          } else if (halls.res === "no data") {
            console.log("No data found")
          }
        } catch (error) {
          console.log(error)
        }
      },
      mounted() {}

    })
  </script>
  <script>
    // $(document).ready(function(){
    //     var next = 1;
    //     $(".add-more").click(function(e){
    //         e.preventDefault();
    //         var addto = "#field" + next;
    //         var addRemove = "#field" + (next);
    //         next = next + 1;

    //         var newIn = '   <select class="custom-select mb-3 mr-2" style="width: 87%;"  id="field' + next + '" name="field' + next + '"> <option selected>Select Exam Hall</option><option value="">Morning</option> <option value="">Afternoon</option></select>';

    //         // var newIn = '<input autocomplete="off" style="width: 90%;" class="input form-control mb-3  mr-1" id="field' + next + '" name="field' + next + '" type="text">';
    //         var newInput = $(newIn);
    //         var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger mb-3 mr-2 remove-me" >-</button></div><div id="field">';
    //         var removeButton = $(removeBtn);
    //         $(addto).after(newInput);
    //         $(addRemove).after(removeButton);
    //         $("#field" + next).attr('data-source',$(addto).attr('data-source'));
    //         $("#count").val(next);

    //             $('.remove-me').click(function(e){
    //                 e.preventDefault();
    //                 var fieldNum = this.id.charAt(this.id.length-1);
    //                 var fieldID = "#field" + fieldNum;
    //                 $(this).remove();
    //                 $(fieldID).remove();
    //             });
    //     });



    // });
  </script>
</body>

</html>
