<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Charts</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-info static-top">

      <a class="navbar-brand mr-1" href="index.html">Start Bootstrap</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" @click.prevent="logout" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="QRcode_info.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>QRcode Info</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="QRcode_generator.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>QRcode Image</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="admin_signup.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add Admin</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="time_table.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Create Time Table</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="lecturer_details.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add lecturer</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="lecturer_halls.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add Halls</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="programs.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Add Programs/Courses</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="staff_signup.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Signup Staff</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="all_time_tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>View Time table</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Charts</li>
          </ol>

          <!-- Area Chart Example-->

        </div>
        <!-- /.container-fluid -->
        <div class="container">
          <div class="alert" :class="server_res === 'created'? 'alert-success' : 'alert-danger'" role="alert" v-show="message">
            {{response}}
          </div>
          <form>
            <div class="form-row">
              <div class="col-auto">
                <input type="text" v-model="hall_name" class="form-control" placeholder="Hall name">
                <span class="text-danger">{{error1}}</span>
              </div>
              <div class="col-auto">
                <input type="number" v-model.number="capacity" class="form-control" placeholder="Capacity">
                <span class="text-danger">{{error2}}</span>
              </div>
              <div class="col-auto">
                <div class="text-center" v-show="show_loading">
                  <div class="spinner-grow bg-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <button type="submit" @click.prevent="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>

          <div class="card mt-3">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hall name</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(hall,index) of halls" :key="index" :id="hall._id">
                    <th scope="row">{{index + 1}}</th>
                    <td>{{hall.hall_name}}</td>
                    <td>{{hall.capacity}}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#editModal" @click.prevent="get_hall">Edit</button>
                        <button type="button" class="btn btn-outline-danger" @click.prevent="delete_lecturer_hall">Delete</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2019</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit lecturer Hall</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <input type="text" v-model="edit_hall_name" class="form-control" id="exampleInputPassword2" placeholder="hall name">
                <span class="error2 text-danger">{{edit_error1}}</span>
              </div>
              <div class="form-group">
                <input type="number" v-model.number="edit_capacity" class="form-control" id="exampleInputPassword3" placeholder="capacity">
                <span class="error3 text-danger">{{edit_error2}}</span>
              </div>
              <div class="text-center" v-show="edit_show_loading">
                <div class="spinner-grow bg-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="text-center" v-show="edit_message">
                <span class="text-success">{{edit_response}}</span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a class="btn btn-primary" href="#" @click="save_changes">Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-bar-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>
  <script src="../js/vue.js"></script>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        error1: "",
        error2: "",
        show_loading: false,
        message: false,
        response: "",
        hall_name: "",
        capacity: null,
        halls: [],
        edit_error1: "",
        edit_error2: "",
        edit_show_loading: false,
        edit_message: false,
        edit_response: "",
        edit_capacity: null,
        edit_hall_name: "",
        server_res: "",
        hall_id: ""
      },
      methods: {
        submit(){
          if(!(vm.hall_name)) vm.error1 = "hall name is required";
          else vm.error1 = "";
          if(vm.capacity === null || parseInt(vm.capacity) === 0) vm.error2 = "capacity is required";
          else{
            if(typeof vm.capacity !== "number") vm.error2 = "capacity must be a number";
            else vm.error2 = "";
          };


          if(vm.hall_name.length !== 0 && vm.capacity.length !== 0 && typeof vm.capacity === "number" && parseInt(vm.capacity) !== 0){
            vm.show_loading = true;

            setTimeout(async function(){
              let create_hall = await $.ajax({
                url: "http://localhost:3000/lecturer_hall/create",
                data: {hall_name: (vm.hall_name).toUpperCase(), capacity: vm.capacity},
                dataType: "JSON",
                method: "POST"
              })

              if(create_hall.res === "created"){
                vm.server_res = create_hall.res
                vm.show_loading = false;
                vm.response = create_hall.message
                vm.message = true

                setTimeout(function(){
                  window.location.reload()
                },1000)
              }
              if(create_hall.res === "exist"){
                vm.server_res = create_hall.res
                vm.show_loading = false;
                vm.response = create_hall.message
                vm.message = true
              }

            },1000)
          }
        },
        async get_hall(e){
          let id = e.currentTarget.parentElement.parentElement.parentElement.id
          vm.hall_id = id
          console.log(id)

          try {
            let hall = await $.ajax({
              url: `http://localhost:3000/lecturer_hall/one_hall/${id}`,
              method: "GET"
            })

            if(hall.res === "found"){
              vm.edit_hall_name = hall.data.hall_name
              vm.edit_capacity = hall.data.capacity
            }
          } catch (error) {
            console.log(error)
          }
        },
        save_changes(){
          if(!(vm.edit_hall_name)) vm.edit_error1 = "hall name is required";
          else vm.edit_error1 = "";
          if(vm.edit_capacity === null || parseInt(vm.edit_capacity) === 0) vm.edit_error2 = "capacity is required";
          else{
            if(typeof vm.edit_capacity !== "number") vm.edit_error2 = "capacity must be a number";
            else vm.edit_error2 = "";
          };

          if(vm.edit_capacity.length !== 0 && vm.edit_hall_name.length !== 0 && typeof vm.edit_capacity === "number" && parseInt(vm.edit_capacity) !== 0){
            vm.edit_show_loading = true

            setTimeout(async function(){
              let update = await $.ajax({
                url: `http://localhost:3000/lecturer_hall/${vm.hall_id}`,
                method: "PATCH",
                data: {hall_name: (vm.edit_hall_name).toUpperCase(), capacity: vm.edit_capacity},
                dataType: "JSON"
              })

              if(update.res === "updated"){
                vm.edit_show_loading = false

                window.location.reload()
              }
            },1200)
          }
        },
        async delete_lecturer_hall(e){
          let tr = e.currentTarget.parentElement.parentElement.parentElement;
          let id = tr.id
          try {
            let remove_hall = await $.ajax({
              url: `http://localhost:3000/lecturer_hall/${id}`,
              method: "DELETE"
            })

            if(remove_hall.res === "deleted"){
              tr.remove()

              window.location.reload()
            }
          } catch (error) {
            console.log(error)
          }

        }
      },
      computed: {

      },
      async created() {
        let hall = await $.ajax({
          url: "http://localhost:3000/lecturer_hall/all",
          method: "GET"
        })

        if(hall.res === "found"){
          vm.halls = [...hall.data]
        }
      },
      mounted() {

      },
      beforeCreated(){
        if(!localStorage.getItem("admin_token")){
          window.location = '../index.html'
        }
      }

    }).$mount("#app")
  </script>
</body>

</html>
